{% extends "base_generic.html" %}

{% block content %}

        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/form-login.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                      {% endif %}

                      {% if next %}
                        {% if user.is_authenticated %}
                          <p>Your account doesn't have access to this page. To proceed,
                          please login with an account that has access.</p>
                        {% else %}
                          <h4>Please login to see this page.</h4>
                        {% endif %}
                      {% endif %}

                      <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <table>
                          <tr>
                            <td class="form-label">{{ form.username.label_tag }}</td>
                            <td class="form-check-input">{{ form.username }}</td>
                          </tr>
                          <tr>
                            <td class="form-label">{{ form.password.label_tag }}</td>
                            <td class="form-check-input">{{ form.password }}</td>
                          </tr>
                        </table>
                        <input type="submit" value="login">
                        <input type="hidden" name="next" value="{{ next }}">
                      </form>

                      {# Assumes you setup the password_reset view in your URLconf #}
                      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>


                    </div>
                </div>
            </div>
        </section>





{% endblock %}