{% extends "base_generic.html" %}

{% block content %}


<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/form-login.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                      <h1>The password has been changed!</h1>
                        <p><a href="{% url 'login' %}">log in again?</a></p>

                    </div>
                </div>
            </div>
        </section>

{% endblock %}
