{% extends "base_generic.html" %}

{% block content %}



<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/form-login.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                          <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>


                    </div>
                </div>
            </div>
        </section>

{% endblock %}