Someone asked for password reset for email {{ email }}. Follow the link below:
{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}


<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/form-login.jpg" alt="..." />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">


                    </div>
                </div>
            </div>
        </section>