{% extends "base_generic.html" %}

{% block content %}
  <h1>About</h1>
    <p>Free office hours for programming
        help - any programming language,
        all skill levels. The format is
        super simple: you come with a
        laptop, sit, hang out, and code,
        and flag down one of the leaders
        if you have a question. That's it!
        If we can't answer your question,
        we'll find you someone who can, or
        at least point you in the right
        direction.</p>

    <p>More experienced folks are also
        welcome as mentors.</p>

<p>By becoming a member, you agree to
    abide by and uphold our policies.</p>
{% endblock %}