{% extends "base_generic.html" %}

{% block content %}

    <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/about.jpg" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">all skill levels</span>
                                    <span class="section-heading-lower">About Cohorts</span>
                                </h2>
                                <p>Free office hours for programming
                                    help - any programming language,
                                    all skill levels. The format is
                                    super simple: you come with a
                                    laptop, sit, hang out, and code,
                                    and flag down one of the leaders
                                    if you have a question. That's it!
                                    If we can't answer your question,
                                    we'll find you someone who can, or
                                    at least point you in the right
                                    direction.</p>
                                <p>More experienced folks are also
                                    welcome as mentors.</p>
                                <p class="mb-0">By becoming a member, you agree to abide by and uphold our policies. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




{% endblock %}