{% extends "base_generic.html" %}
{% block content %}
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-5">
                            <span class="section-heading-lower">Upcoming Events</span>
                        </h2>
                        <div class="list-unstyled list-hours mb-6 text-left mx-auto">
                            {% if user.is_staff %}
                                <p><a href="{% url 'event-create' %}">
                                    Create New Event
                                </a>
                                </p>
                            {% endif %}
                        </div>
                        {% if event_list %}
                            <div class="list-unstyled list-hours mb-6 text-left mx-auto">
                            {% for event in event_list %}
                                <p class="list-unstyled-item list-hours-item d-flex">
                                    <span class="text-start col-sm-4">
                                        <a class="text-left"
                                           href="{{ event.get_absolute_url }}">
                                            {{ event.title }}
                                        </a>
                                    </span>
                                    <span class="text-start col-sm-2 col-xs-2">({{ event.level }})</span>
                                    <span class="text-end col-sm-3 ">{{ event.date }} </span>
                                    <span class="text-end col-sm-3 ">
                                    {% if user.is_staff %}
                                        <a href="{% url 'event-update' event.id %}">
                                            Update</a>
                                        - <a href="{% url 'event-delete' event.id %}">
                                            Delete</a>
                                    {% endif %}
                                    </span>
                                </p>
                            {% endfor %}

                        {% else %}
                            <p>There are no on the calendar events at this time.</p>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
