{% extends "base_generic.html" %}
{% block content %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded"
                     src="/static/img/intro.jpg" alt="..."/>
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-lower">Welcome to cohorts!</span>
                    </h2>
                    <p class="mb-3">Programming Cohorts are
                        open to anyone who wants to learn and
                        improve their web coding skills: HTML,
                        CSS, JavaScript, API, and database
                        skills by doing coding challenges in
                        a small group environment. The problems
                        will be targeted at beginner and intermediate l
                        evel programmers as well as talks.</p>
                    <div class="intro-button mx-auto">
                        <a class="btn btn-primary btn-xl"
                           href="{% url 'events' %}">See the Events
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}