{% extends "base_generic.html" %}
{% block content %}
<section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="/static/img/admin-screen.jpg" alt="two people working" />
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                     <h1>Delete Event </h1>
                        <p>Are you sure you want to delete the event: {{ Event }}?</p>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Yes, delete.">
                        </form>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
